<style>
    .blockDiv {
        width: 100%;
        margin-bottom: 20px; 
    }

    text_input {
        margin-left: 5vw; 
        width: 40vw; 
    }
</style>

<script>
    var element = document.getElementById('descAud'); 
    element.parentNode.removeChild(element); 
</script>

<form id="form" method="post" action="/kursistinfo_answer" enctype="multipart/form-data">

    <% for(var i=0; i<content.length; i++) { %>
        <% if(content[i].type == 'text') { %>
            <div class="blockDiv">
                <span><%= content[i].input %></span>
                <input class="text_input" type="text" name="<%= 'answer_' + i %>" placeholder="Skriv svar her">
            </div>
        <% } else if(content[i].type == 'checkbox') { %>
            <div class="blockDiv">
                <span><%= content[i].input %></span><br>
                <% for(var j=0; j<content[i].choices.length; j++) { %>
                    <input type="checkbox" name="<%= 'answer_' + i %>" value="<%= content[i].choices[j] %>">
                    <span><%= content[i].choices[j] %></span>
                <% } %>
            </div>
        <% } else if(content[i].type == 'radio') { %>
            <div class="blockDiv">
                <span><%= content[i].input %></span><br>
                <% for(var j=0; j<content[i].choices.length; j++) { %>
                    <input type="radio" name="<%= 'answer_' + i %>" value="<%= content[i].choices[j] %>">
                    <span><%= content[i].choices[j] %></span>
                <% } %>
            </div>
        <% } else if(content[i].type == 'dropdown') { %>
            <div class="blockDiv">
                <span><%= content[i].input %></span><br>
                <select>
                    <% for(var j=0; j<content[i].choices.length; j++) { %>
                        <option value="<%= content[i].choices[j] %>"><%= content[i].choices[j] %></option>        
                    <% } %>
                </select>
            </div>
        <% } %>
    <% } %>

    <input type="submit">
</form>