<html>

<head>
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/js/test.js"></script>

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/oversigt.css">

</head>

<body>

	<div id="header">
		<img class="header" id="head_1" src="images/VUC_logo.png" height="100">
		<h3 class="header" id="head_2">NIVEAUAFKLARINGSTEST</h3>
		<h3 class="header" id="head_3">VUC FYN ODENSE</h3>
	</div>

	<h2>Velkommen <%=content.initials%></h2>
	<table border="1" cellpadding="30">
		<thead>
			<tr>
				<td colspan="4">
					<h3>Du har <%= content.totalTests %> quiz(zer). Her kan du se en oversigt over dine quizzer: </h4>
				</td>
			</tr>
			<tr>
			<td> Dato for oprindelse</td>
			<td> Links </td>
			<td> Antal svar</td>
			<td> Quiz data</td>
		</tr>
			</thead>
		<% for(var i=0; i < content.totalTests; i++) { %> 
	<tbody>
		<tr>
			<td><button class="ul_btn">+</button> Quiz <%=i+1%> <%=content.tests[i].date.toLocaleDateString() %>:
			<ul class="ul_show" style="display: none">
			<% for(var j=0; j < content.tests[i].totalModules; j++) { %>
				<li><%=content.tests[i].modules[0].moduleType %></li>
				<% } %>
			</ul>
			</td>
			<td>                <a href="/welcome<%= content.tests[i]._id %>">link</a></td>

			<td> 0(funktionalitet mangler) </td>
			<td> <button class="seeAnswer" value="<%= content.tests[i]._id %>"> Se svar (mangler) </button></td>
		</tr>
	</tbody>
                
    <% } %>
</table>

	


</body>

</html>