<script>
    var a = 0; 

    function playAudio(index) {
        var d = document.getElementById("d" + index);
        var audBut = document.getElementById("audBut" + index);
        var sound = document.getElementById("file" + index);
        if(sound.paused) {
            sound.load();  
            sound.play();
            if(a>0) { 
                d.removeChild(audBut);
                a=0;  
            } else { a++; }
        }
    }
</script>

<form id="form" method="post" action="/tekstforståelse_answer" enctype="multipart/form-data">

    
    <div class="textDiv">
        <% for(var i=0; i<content[0].texts.length; i++) { %>
            <div class="blockDiv">
                <div id="<%= 'd'+i %>" class="audDiv">
                    <input class="aud" id="<%= 'audBut'+i %>" type="button" onclick="playAudio(<%= i %>)">
                </div>
                <div><%= content[0].texts[i]</div>
            </div>
        <% } %>
    </div>

    <% for(var j=1; j<content.length; j++) { %>
        <div class="contentDiv">
            <div><%= content[j].question %></div>
            
            <% for(var k=0; k<content.length; k++) { %>
                <!-- <span><%= content[j].options[k]</span> -->
                <input type="radio" name="<%= j %>" value="<%= content[j].options[k]">
            <% } %>
        </div>
    <% } %>

    <input type="submit">

</form>
