<html>

<head>
    <script src="/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/getData.js"></script>

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/oversigt.css">

    <style>

		#sidebar {
			float: left;
			border: 1px solid black; 
			margin-left: 50px; 
			margin-right: 10px;
			width: 20%; 
			padding: 10px;
		}

		#navbar {
			overflow: hidden;
			width: 70%; 
		}

		.nav {
			border: 1px black solid; 
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
		}

		#main-content {
			overflow: hidden;
			border: 1px solid black;
			margin-left: 10px; 
			margin-right: 50px; 
			width: 70%; 
			padding: 10px;
		}

		#content-table {
			width: 100%; 
		}

        .contentDiv {
            border: 1px solid black;
            margin: 20px;
            width: 10vw;
		}
    </style>

</head>

<body onload="getOverviewData('<%= JSON.stringify(content.studentIDs)%>', '<%=content.idTeacher%>', this)">

    <header>
        <% include header %>
    </header>

    <h2>Dette er datasiden for test med id'et:
        <%=content.idTeacher %>
    </h2>


	<!--
		CODE TO DO..
		CHANGE LAYOUT OF CONTENT
	-->

	<div id="sidebar">
		Oversigt
		
		<% for(var i=0; i<content.studentIDs.length; i++) { %>
			<div id="<%= 's'+i %>"><%=content.studentIDs[i]%></div>
		<% } %>
	</div>

	<div id="navbar">
		<div id="nav1" class="nav">Oversigt</div>
		<div class="nav">nav2</div>
	</div>
	
	<div id="main-content">
		<table id="content-table"></table>
	</div>



	<!--
		
		<% for(var i=0; i<content.studentIDs.length; i++) { %>
			<div id="<%= 's'+i %>" class="contentDiv">Kursist ID:
				<%=content.studentIDs[i]%>
			</div>
			<button id="<%= 'b'+i %>" onclick="getStudentData('<%=content.studentIDs[i]%>', '<%=content.idTeacher%>', this)">+</button>
			<button id="<%= 'r'+i %>" onclick="removeAnswers(this)" hidden>-</button>
			<div id="<%= 'd'+i %>"></div>
			<% } %>
			
		-->

</body>

</html>